<!DOCTYPE html>
<html>
  <head>
    <title>StepPy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/fonts/roboto-black.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <script src="static/js/reconnecting-websocket.min.js" type="text/javascript"></script>
    <script src="static/js/app.js" type="text/javascript"></script>
  </head>
  
  <body>
    <div id="steppy">
      <h1 class="status">Loading...</h1>
    </div>
  </body>
</html>
